body{
   overflow-x: hidden;
   overflow-y: scroll;
   
    
}

#maincontainer{
    box-sizing: border-box;
    max-width: 100%;
    margin-left:10px;
    margin-right:10px;
}
.container-fluid{
    max-width: 100%;
}
.custom-navbar{
   
    background-color: white;
    max-width:100%;
     

}
.navbar-title{
        display:flex;
        flex-direction:row;
            font-size: 2.5rem;
            text-shadow: #f6f2c0;
            font-weight: bolder;
            padding-left: 10px;
            
            
        }
        .title1
            {
                margin-top:30px;
                margin-left:20px;
                font-family:"Share Tech", sans-serif;
                color:rgb(12, 12, 69);
                
            }
             .title2{
                       color:rgb(230, 171, 11);
                        }
           
   .heading-font{
        font-family:"Share Tech", sans-serif;
        font-weight: bold;
        font-size: xx-large;
       

   }
   .subheading-font{
        font-family:"Share Tech", sans-serif;
        font-weight: bold;
        font-size: medium;
        

   }
   .custom-font{
    
        color:rgb(12, 12, 69);
        font-weight: bolder;
   }
   .custom-subfont{
    color:grey;
   }
   .package-button{
    background-color:rgb(12, 12, 69);
    color:white;
     font-family:"Share Tech", sans-serif;
     font-weight: bold;
        font-size: x-large;

   }

   .planurtrip{
     background-image: url('review/beach.jpg');
    background-size: cover;      /* fills entire div */
    background-position: center; /* centers image */
    background-repeat: no-repeat;
    height:auto;
    min-height:100vh;
    max-width:100%;
   }
    .formdesign{
        
        background: rgba(0,0,0,0.25);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);

        color: white;
        border: 1px solid rgba(255,255,255,0.2);
        height:80%;
        min-height: 80vh;
        border-radius: 20px;
        padding:3vw;
        
        
    }
    .marginabout40px{
        padding:40px;
    }
     .marginabout20px{
        padding:20px;
    }
   .search_container
   {
    position:relative;
   }
    .suggestions
    {
        display:none;
        flex-direction: column;
        padding:1%;
        position:absolute;
        width:100%;
        top:100%;
        list-style-type:none;
        background-color:white;
        height:auto;
        min-height: 250px;
        border-radius: 10px;
       z-index:1000;
    }
    .suggestions li
    {
        padding:1%;
        color:black;
    }
    .suggestions li:hover{
        color:white;
        background-color: black;
        border-radius: 5px;
    }
    .imagebutton{
        background-color: transparent;
        border:none;
        border-radius: 20px;
        padding:0;
        cursor:pointer;
        transition: transform 0.3s ease;
        color:white;
        font-size: medium;
           
    }
    .imagebutton:focus{
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    }
     .imagebutton:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    }
    .triptype-btn.active{
         transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    }
    .trip-vibe.active{
         transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    }
 
.card{
    border-radius:20px;
    height:400px;
}
.msg{
    height:50px;
}
.form-control{
    height:45px;
    font-size:18px;
}
.dep-container{
    position: relative;
}
#dep-list{
    position:absolute;
    top:100%;
}
#arr-list{
    position:absolute;
    top:100%;
}
.arr-container{
    position: relative;
}
.citylist
    {
        display:none;
        flex-direction: column;
        padding:1%;
        width:95%;
        list-style-type:none;
        background-color:white;
        height:auto;
        min-height: 250px;
        border-radius: 10px;
       
    }
    .citylist li
    {
        padding:1%;
        color:black;
    }
    .citylist li:hover{
        color:white;
        background-color: black;
        border-radius: 5px;
    }

     .cardswiper {
      width:350px;
      height:350px;
    }
      .swiperstyle {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      
    }
    .tripcard{
       height: 350px;
    border: none;
    border-radius: 20px;
    transition:transform 0.3s ease;
   
    }
    .tripcard:hover{
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    }
    
    .card-button{
        border-radius: 20px;
        cursor:pointer;
        font-size:medium;
        font-family:"Share Tech", sans-serif;
    }
    #packagecarousel{
        background-image: transparent;
        height:auto;
    }
    .trusted{
        background-color: rgb(12, 12, 69);
        color:rgb(230, 171, 11);
        height:fit-content;
    }
    .glasscard{
         background: rgba(0,0,0,0.25);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        height:170px;
        color:rgb(230, 171, 11) ;
        border: 1px solid rgba(255,255,255,0.2);
         border-radius: 20px;
        padding:0.5vw;
    }
    .review{
        background-color: rgb(182, 177, 177);
    }
  
     .swiper-slidereview{
        img{
             display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
        }

        }
   
    .customfooter{
        background-color:rgba(12,12,69);
        height:fit-content;
        padding:20px;
   color:rgb(230, 171, 11) ;
  
  
}
    

            
       
